# Requirements for the backend application

# Web server
fastapi

# LLM server
llama-cpp-python[all]

# OpenAI
openai-agents
openai

# Environment variable management
python-dotenv

# Pydantic for data validation
pydantic

# TTS and STT
sherpa-onnx
soundfile
./melotts-0.1.2-py3-none-any.whl

# Face recognition
opencv-python
face_recognition
numpy
